{% extends "main/base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5 text-white">About this site</h1>
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <h5>This site uses the following development stack:</h5>
        </div>
        <div class="row border rounded pt-3">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img class="img-fluid mx-auto d-block" src="https://img.stackshare.io/service/994/4aGjtNQv.png">
                <h5 class="text-center">Django Framework</h5>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img class="img-fluid mx-auto d-block" src="https://img.stackshare.io/service/993/pUBY5pVj.png">
                <h5 class="text-center">Python</h5>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img class="img-fluid mx-auto d-block" src="https://img.stackshare.io/service/10483/linux.png">
                <h5 class="text-center">Linux</h5>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-6">
                <h5>Sitw Owner: Keith</h5>
                <h5>Development Status: Completed</h5>
                <h5>Contact: keithzhu.huiqi@outlook.com</h5>
            </div>
            <div class="col-md-6">
                <h5>This is was developed for the purpose of a Bachelor degree's final year core unit's Project.</h5>
            </div>
        </div>
    </div>
{% endblock %}