{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-5">
        <!--Breadcrumb Section-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main-index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'main-subjects' video_pk.course.subject.slug %}">{{ video_pk.course.subject.title }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'main-course' video_pk.course.pk %}">{{ video_pk.course.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ video_pk.title }}</li>
            </ol>
        </nav>
        <!--Breadcrumb Section End-->
        <!--Course Video Section-->
        <div class="py-4 px-5 border rounded">
            <h4>{{ video_pk.title }}</h4>
            <p>{{ video_pk.description }}</p>
            <p>Lecturer: {{ video_pk.teacher }}</p>
            <hr class="pb-3" />
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/{{ video_pk.link }}"
                        frameborder="0" allow="accelerometer; autoplay;
                             encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <!--Course Video Section End-->
    </div>
{% endblock %}

<!--TODO: Comment system and Video iframe page-->